<h1>Liste des questionnaires</h1>
<div class='nofs'>
  <%= link_to "Nouveau questionnaire", new_fieldset_path, class: 'new' %>
  <%= render "fieldsets/list" %>
  <%= link_to "Nouveau questionnaire", new_fieldset_path, class: 'new' %>
</div>
